body{
background-color: lightcyan;
}

h2 {
  color: #79bac1;
}

.con {
  text-align: center;
  color: #ff7315;
  font-family: 'Baloo Da 2', cursive;
}


a {
  text-decoration: none;
  color: #231903;
}
